h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 7.2rem;
}

@media (max-width: 1300px) {
  h1 {
    font-size: 6.2rem;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 6.4rem;
  font-weight: 700;
}

@media (max-width: 775px) {
  h2 {
    font-size: 4.8rem;
  }
}

@media (max-width: 450px) {
  h2 {
    font-size: 4rem;
  }
}

h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
}

.h1--lightweight {
  font-weight: 400;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media (max-width: 1300px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 40%;
  }
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #1B161D;
  background-color: #F9F7F7;
  position: relative;
  height: 100vh;
}

.svgdef {
  height: 0;
  width: 0;
}

.login, .edit {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10rem;
}

.login__field, .edit__field {
  width: 100%;
  background-color: #F9F7F7;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 1rem;
  font-size: 2.4rem;
  line-height: 5rem;
  padding: 0 2rem;
  margin-top: 3rem;
}

.login__field::-webkit-input-placeholder, .edit__field::-webkit-input-placeholder {
  color: rgba(27, 22, 29, 0.5);
}

.login__field:-ms-input-placeholder, .edit__field:-ms-input-placeholder {
  color: rgba(27, 22, 29, 0.5);
}

.login__field::-ms-input-placeholder, .edit__field::-ms-input-placeholder {
  color: rgba(27, 22, 29, 0.5);
}

.login__field::placeholder, .edit__field::placeholder {
  color: rgba(27, 22, 29, 0.5);
}

.login__button, .edit__button {
  border: none;
  background-color: #D9DB72;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2.4rem;
  padding: 1rem;
}

.login__button:hover, .edit__button:hover {
  color: #F9F7F7;
}

.login__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.login__button {
  width: 100%;
  margin-top: 1.5rem;
}

.edit {
  background-color: rgba(79, 208, 230, 0.3);
}

.edit__button {
  width: 30%;
  margin-top: 5rem;
}

.edit__field--name, .edit__field--url {
  margin-left: 6.5rem;
}

.edit__field--paragraph {
  height: 18rem;
  resize: none;
  font-size: 2.4rem;
  font-family: "Ubuntu", sans-serif;
}

.edit__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  margin-bottom: 10rem;
}

.edit__formLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  width: 100%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 17rem 9rem;
}

@media (max-width: 775px) {
  .header__container {
    padding: 10rem 7rem 5rem 7rem;
  }
}

@media (max-width: 450px) {
  .header__container {
    padding: 10rem 4rem 5rem 4rem;
  }
}

.header__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 775px) {
  .header__list {
    width: 70%;
  }
}

@media (max-width: 450px) {
  .header__list {
    width: 80%;
  }
}

.header__list--link {
  text-decoration: none;
  color: #1B161D;
  font-size: 2.4rem;
}

@media (max-width: 450px) {
  .header__list--link {
    font-size: 2rem;
  }
}

.header__list--link:hover {
  color: #4FD0E6;
}

.header__logo {
  width: 40.5rem;
  height: 40rem;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  padding: 4rem;
  background-color: #F9F7F7;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1300px) {
  .header__nav {
    padding: 2rem 4rem;
  }
}

.header__post {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 65rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5.5rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7rem;
}

@media (max-width: 775px) {
  .header__post {
    margin-top: 6rem;
    height: 45rem;
  }
}

@media (max-width: 775px) {
  .header__post {
    height: 35rem;
  }
}

.header__postImg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .8;
  z-index: -1;
}

.header__postNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #D9DB72;
}

.header__postNav--button {
  background-color: #F9F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  font-size: 3.6rem;
  font-family: "Ubuntu", sans-serif;
  border: none;
  padding: 1.5rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}

@media (max-width: 775px) {
  .header__postNav--button {
    font-size: 2.5rem;
    padding: 1rem;
  }
}

.header__postNav--button:hover {
  color: #4FD0E6;
}

.header__postNav--buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: .75rem;
}

.header__postNav--link {
  text-decoration: none;
  color: #1B161D;
  margin: .75rem;
  width: 33%;
}

.header__postNav--title {
  margin: 4.6rem;
}

@media (max-width: 775px) {
  .header__postNav--title {
    font-size: 5rem;
    margin: 2rem 4rem;
  }
}

@media (max-width: 450px) {
  .header__postNav--title {
    font-size: 4rem;
    margin: 2rem;
  }
}

.header__postNav--logo {
  width: 15rem;
  height: 15rem;
}

@media (max-width: 775px) {
  .header__postNav--logo {
    width: 10rem;
    height: 10rem;
  }
}

.header__postNav--logoContainer {
  width: 20rem;
  height: 20rem;
  padding: 1.5rem;
  background-color: #F9F7F7;
  position: absolute;
  top: -1rem;
  left: -1rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 775px) {
  .header__postNav--logoContainer {
    width: 12rem;
    height: 12rem;
  }
}

.header__text {
  text-align: center;
  margin-left: 3rem;
}

.header__text--byline {
  font-size: 3rem;
  margin-top: 2rem;
}

@media (max-width: 1300px) {
  .header__text--byline {
    font-size: 2.4rem;
  }
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0rem 11.5rem 4rem 11.5rem;
}

@media (max-width: 450px) {
  .post {
    padding: 0rem 5rem 4rem 5rem;
  }
}

.post__blurb {
  font-size: 2.4rem;
  line-height: 3.3rem;
}

.post__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.post__listitem {
  margin: 0 4rem;
  font-size: 2.8rem;
  position: relative;
  list-style: none;
}

.post__listitem::before {
  content: "";
  position: absolute;
  top: .6rem;
  left: -3.5rem;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background-color: #C998BE;
}

.post__subheading {
  text-align: center;
  margin: 7.5rem 0 3rem 0;
}

@media (max-width: 775px) {
  .post__subheading {
    font-size: 4rem;
  }
}

.post__takeaways {
  padding: .1rem 11.5rem 6rem 11.5rem;
  background-color: #C998BE;
}

@media (max-width: 450px) {
  .post__takeaways {
    padding: .1rem 5rem 6rem 5rem;
  }
}

.premise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12rem 0;
}

@media (max-width: 450px) {
  .premise {
    padding: 5rem 0;
  }
}

.premise__blurb, .premise__synopsis {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  padding: 4.5rem;
  text-align: center;
  margin: 0 3.5rem;
}

.premise__background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #C998BE;
  -webkit-clip-path: url(#premiseClip);
          clip-path: url(#premiseClip);
  z-index: -1;
}

@media (max-width: 450px) {
  .premise__background {
    -webkit-clip-path: none;
            clip-path: none;
  }
}

.premise__container {
  width: 100%;
  padding: 4.5rem 11.5rem 0 11.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.2rem;
  line-height: 3.3rem;
}

@media (max-width: 1300px) {
  .premise__container {
    padding: 4.5rem 4rem 0 4rem;
  }
}

@media (max-width: 775px) {
  .premise__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2rem;
  }
}

.premise__blurb {
  background-color: #F9F7F7;
  width: 60%;
}

@media (max-width: 775px) {
  .premise__blurb {
    width: 100%;
    margin-bottom: 4rem;
  }
}

.premise__blurb p {
  margin-bottom: 3rem;
  text-align: justify;
}

.premise__blurb p:nth-last-of-type() {
  margin-bottom: 0;
}

.premise__synopsis {
  background-color: #D9DB72;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 775px) {
  .premise__synopsis {
    width: 100%;
  }
}

.premise__synopsis--text {
  margin-top: 3rem;
}

@media (max-width: 775px) {
  .premise__synopsis--text {
    margin-top: 1.5rem;
  }
}

.premise__synopsis--text:nth-of-type(1) {
  margin-bottom: 3rem;
}

@media (max-width: 775px) {
  .premise__synopsis--text:nth-of-type(1) {
    margin-bottom: 1.5rem;
  }
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 450px) {
  .projects {
    margin-top: 5rem;
  }
}

.projects__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__card {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 34rem;
  height: 42rem;
  position: relative;
  margin: 5rem;
}

.projects__thumbnail {
  width: 100%;
}

.projects__thumbnailContainer {
  width: 100%;
  height: 18rem;
  overflow: hidden;
}

.projects__tech {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #4FD0E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -4rem .5rem 0 .5rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects__tech--icon {
  width: 3.2rem;
  height: 3.2rem;
}

.projects__techContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.projects__buttonContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #D9DB72;
  padding: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__link {
  text-decoration: none;
  color: #1B161D;
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__button {
  font-size: 2.4rem;
  font-weight: 700;
  width: 100%;
  height: 4.5rem;
  border: none;
  background-color: transparent;
}

.projects__button--site {
  background-color: #F9F7F7;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects__button:hover {
  cursor: pointer;
  color: #4FD0E6;
}

.projects__num {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 6.4rem;
  background-color: #C998BE;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 8rem;
  height: 7.5rem;
  border-radius: 0 0 4rem 0;
}

.projects__info {
  padding: 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects__blurb {
  margin-top: 2rem;
  font-size: 1.8rem;
  line-height: 2.4rem;
}
/*# sourceMappingURL=App.css.map */