h1 {
    font-family: "Ubuntu", sans-serif;
    font-size: 7.2rem;
    @include respond(smDesktop){
        font-size: 6.2rem;
    }
    @include respond(phone){
        font-size: 5rem;
    }
}
h2 {
    font-family: "Ubuntu", sans-serif;
    font-size: 6.4rem;
    font-weight: 700;
    @include respond(ipad){
        font-size: 4.8rem;
    }
    @include respond(phone){
        font-size: 4rem;
    }
}
h3 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 3.6rem;
}

.h1--lightweight {font-weight: 400;}