<!DOCTYPE html>
<html lang="en">
<head>
    <title>fiftytwo/52</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A challenge site, debuting 52 projects completed in 52 days. 
        See my portfolio at www.kariminger.com.">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/sass/App.css">
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <div class="header__postNav--logoContainer">
                <svg class="header__postNav--logo">
                    <use xlink:href="/images/symbol-defs.svg#icon-fullLogo"></use>
                </svg>
            </div>
            <ul class="header__list">
                <li><a href="#premise" class="header__list--link">the premise</a></li>
                <li><a href="#projects" class="header__list--link">the projects</a></li>
                <li><a href="http://www.kariminger.com" class="header__list--link">the person</a></li>
            </ul>
        </nav>
    </header>
    <main class="edit">
        <h1 class="h1--lightweight">Edit Post</h1>
        <form class="edit__form">
            <div class="edit__formLine">
                <input type="text" class="edit__field edit__field--week" name="weekNum" placeholder="week number">
                <input type="text" class="edit__field edit__field--name" name="projectName" placeholder="project name">
            </div>
            <div class="edit__formLine">
                <input type="text" class="edit__field edit__field--github" name="github" placeholder="Github repo address">
                <input type="text" class="edit__field edit__field--url" name="url" placeholder="site address">
            </div>
            <textarea class="edit__field edit__field--paragraph" name="process" placeholder="the process"></textarea>
            <textarea class="edit__field edit__field--paragraph" name="challenges" placeholder="challenges"></textarea>
            <textarea class="edit__field edit__field--paragraph" name="takeaways" placeholder="takeaways"></textarea>
            <input type="text" class="edit__field edit__field--image" name="imgName" placeholder="image name">
            <div class="edit__formLine edit__formLine--tech">
                <div class="edit__tech">
                    <input class="edit__checkbox" type="checkbox" id="React" name="tech" value="React">
                    <label class="edit__checkboxLabel for="React">React</label>
                </div>
                <div class="edit__tech">
                    <input class="edit__checkbox" type="checkbox" id="Vue" name="tech" value="Vue">
                    <label class="edit__checkboxLabel for="Vue">Vue</label>
                </div>
                <div class="edit__tech">
                    <input class="edit__checkbox" type="checkbox" id="Node.js" name="tech" value="Node.js">
                    <label class="edit__checkboxLabel for="Node.js">Node.js</label>
                </div>
                <div class="edit__tech">
                    <input class="edit__checkbox" type="checkbox" id="Sass" name="tech" value="Sass">
                    <label class="edit__checkboxLabel for="Sass">Sass</label>
                </div>
                <div class="edit__tech">
                    <input class="edit__checkbox" type="checkbox" id="MongoDB" name="tech" value="MongoDB">
                    <label class="edit__checkboxLabel for="MongoDB">MongoDB</label>
                </div>
            </div>
            <button class="edit__button" type="submit">Submit</button>
        </form>
    </main>
</body>
</html>