<!DOCTYPE html>
<html lang="en">
<head>
    <title>fiftytwo/52</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A challenge site, debuting 52 projects completed in 52 days. 
        See my portfolio at www.kariminger.com.">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/sass/App.css">
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <ul class="header__list">
                <li><a href="#premise" class="header__list--link">the premise</a></li>
                <li><a href="#projects" class="header__list--link">the projects</a></li>
                <li><a href="http://www.kariminger.com" class="header__list--link">the person</a></li>
            </ul>
        </nav>
        <div class="header__container">
            <svg class="header__logo">
                <use xlink:href="/images/symbol-defs.svg#icon-fullLogo"></use>
            </svg>
            <div class="header__text">
                <h1>52 projects / 52 weeks</h1>
                <p class="header__text--byline">a (possibly misguided) attempt to learn by doing, ad nauseum</p>
            </div>
        </div>
    </header>
    <section class="premise" id="premise">
        <div class="premise__background"></div>
        <h2>- the premise -</h2>
        <div class="premise__container">
            <article class="premise__blurb">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In aliquid perferendis fugiat suscipit, doloremque commodi culpa officiis? Aliquam repellat ducimus deleniti dignissimos cupiditate voluptates veniam, eligendi atque? Dignissimos, iusto necessitatibus?</p>
            </article>
            <aside class="premise__synopsis">
                <h3>52 projects</h3>
                <p class="premise__synopsis--text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi excepturi ex nam, ipsam nesciunt maiores magni voluptatem maxime fugit eius ipsum? Recusandae in error rerum. Commodi a ducimus suscipit repudiandae?</p>
                <h3>52 weeks</h3>
                <p class="premise__synopsis--text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus itaque, facilis earum at odit ut labore dolore! Adipisci sit delectus laboriosam velit est facilis aliquid saepe nihil? Repudiandae, cum necessitatibus.</p class="premise__synopsis--text">
            </aside>
        </div>
    </section>
    <section class="projects" id="projects">
        <h2>- the projects -</h2>
        <main class="projects__container">
            <article class="projects__card">
                <div class="projects__num">1</div>
                <img class="projects__thumbnail" src="/images/testImg.jpg">
                <div class="projects__techContainer">
                    <div class="projects__tech">
                        <svg class="projects__tech--icon" aria-label="React">
                            <use xlink:href="/images/symbol-defs.svg#icon-react"></use>
                        </svg>
                    </div>
                    <div class="projects__tech">
                        <svg class="projects__tech--icon" aria-label="Sass">
                            <use xlink:href="/images/symbol-defs.svg#icon-sass"></use>
                        </svg>
                    </div>
                </div>
                <h3>Site Name</h3>
                <p class="projects__blurb">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem odio odit fugiat architecto! </p>
                <div class="projects__buttonContainer">
                    <a href="#" class="projects__link">
                        <button type="button" class="projects__button">View Post</button>
                    </a>
                    <a href="#" class="projects__link">
                        <button type="button" class="projects__button projects__button--site">View Site</button>
                    </a>
                </div>
            </article>
        </main>
    </section>




<svg viewBox="0 0 1440 762">
    <defs>
        <clipPath id="premiseClip" clipPathUnits="objectBoundingBox" transform="scale(0.000694444 0.001312336)">
            <path d="M0 0C0 0 437.832 65.3451 720 65.3451C1002.17 65.3451 1440 0 1440 0V762C1440 
            762 1216.5 705.296 720 707.456C223.5 709.616 0 762 0 762V0Z"/>
        </clipPath>    
    </defs>
</svg>
</body>
</html>