<!DOCTYPE html>
<html lang="en">
<head>
    <title>fiftytwo/52</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A challenge site, debuting 52 projects completed in 52 days. 
        See my portfolio at www.kariminger.com.">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/sass/App.css">
</head>
<body>
<h1>TEST</h1>
<p>texty text</p>

</body>


</html>