<!DOCTYPE html>
<html lang="en">
<head>
    <title>fiftytwo/52</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A challenge site, debuting 52 projects completed in 52 days. 
        See my portfolio at www.kariminger.com.">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/sass/App.css">
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <div class="header__postNav--logoContainer">
                <svg class="header__postNav--logo">
                    <use xlink:href="/images/symbol-defs.svg#icon-fullLogo"></use>
                </svg>
            </div>
            <ul class="header__list">
                <li><a href="#premise" class="header__list--link">the premise</a></li>
                <li><a href="#projects" class="header__list--link">the projects</a></li>
                <li><a href="http://www.kariminger.com" class="header__list--link">the person</a></li>
            </ul>
        </nav>
    </header>
    <main class="login">
        <h1 class="heading--lightweight">Login to Edit/Post</h1>
        <form class="login__form">
            <input class="login__field" type="text" name="userName" placeholder="user name">
            <input class="login__field" type="text" name="password" placeholder="password">
            <button class="login__button" type="submit">Submit</button>
        </form>
    </main>
</body>
</html>