<!DOCTYPE html>
<html lang="en">
<head>
    <title>fiftytwo/52</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A challenge site, debuting 52 projects completed in 52 days. 
        See my portfolio at www.kariminger.com.">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/sass/App.css">
</head>
<body>
    <header class="header">
        <nav class="header__nav">
            <ul class="header__list">
                <li><a href="#premise" class="header__list--link">the premise</a></li>
                <li><a href="#projects" class="header__list--link">the projects</a></li>
                <li><a href="http://www.kariminger.com" class="header__list--link">the person</a></li>
            </ul>
        </nav>
        <div class="header__post">
            <img src="/images/testImg.jpg" class="header__postImg" alt="project preview image">
            <div class="header__postNav">
                <h1 class="header__postNav--title">Week 1 - <span class="h1--heavyweight">fiftytwo/52</span></h1>
                <div class="header__postNav--buttonContainer">
                    <a href="#" class="header__postNav--link"><button class="header__postNav--button">Site</button></a>
                    <a href="#" class="header__postNav--link"><button class="header__postNav--button">Github</button></a>
                    <a href="#" class="header__postNav--link"><button class="header__postNav--button">Design</button></a>
                </div>
            </div>
        </div>
    </header>
    <h2>- technologies used -</h2>
    <ul>
        <li>Node.js</li>
        <li>MongoDB</li>
        <li>Sass</li>
    </ul>
    <h2>- the process -</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quibusdam esse amet animi laboriosam tenetur placeat libero voluptatem aspernatur neque nesciunt cupiditate tempore saepe, molestias consectetur at fugiat nostrum ipsum!</p>
    <h2>- challenges -</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quibusdam esse amet animi laboriosam tenetur placeat libero voluptatem aspernatur neque nesciunt cupiditate tempore saepe, molestias consectetur at fugiat nostrum ipsum!</p>
    <h2>- takeaways -</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quibusdam esse amet animi laboriosam tenetur placeat libero voluptatem aspernatur neque nesciunt cupiditate tempore saepe, molestias consectetur at fugiat nostrum ipsum!</p>

</body>
</html>