.login, .edit {
    margin-top: 10.5rem;
    @include flex-column;
    align-items: center;
    padding-top: 10rem;
}
.login {
    &__form {
        @include flex-column;
        align-items: center;
        width: 30%;
    }
    &__field {
        width: 100%;
        background-color: $color-white;
        @include shadow;
        border: none;
        border-radius: 1rem;
        font-size: 2.4rem;
        line-height: 5rem;
        padding: 0 2rem;
        margin-top: 3rem;

        &::placeholder {
            color: rgba($color-text, .5);
        }
    }
    &__button {
        border: none;
        background-color: $color-green;
        @include shadow;
        font-size: 2.4rem;
        padding: 1rem;
        width: 100%;
        margin-top: 1.5rem;
    }
}

.edit {
    background-color: rgba($color-blue, .5);

}