.login, .edit {
    margin-top: 5rem;
    @include flex-column;
    align-items: center;
    padding-top: 10rem;
}
.login__field, .edit__field {
    width: 100%;
    background-color: $color-white;
    @include shadow;
    border: none;
    border-radius: 1rem;
    font-size: 2.4rem;
    line-height: 5rem;
    padding: 0 2rem;
    margin-top: 3rem;
    &::placeholder {
        color: rgba($color-text, .5);
    }
}
.login__button, .edit__button {
    border: none;
    background-color: $color-green;
    @include shadow;
    font-size: 2.4rem;
    padding: 1rem;
    &:hover {color: $color-white;}
}
.login {
    &__form {
        @include flex-column;
        align-items: center;
        width: 30%;
    }
    &__button {
        width: 100%;
        margin-top: 1.5rem;
    }
}

.edit {
    background-color: rgba($color-blue, .3);

    &__button {
        width: 30%;
        margin-top: 5rem;
    }
    &__field {
        &--name, &--url {
            margin-left: 6.5rem;
        }
        &--paragraph {
            height: 18rem;
            resize: none;
            font-size: 2.4rem;
            font-family: "Ubuntu", sans-serif;
        }
    }
    &__form {
        @include flex-column;
        align-items: center;
        width: 75%;
        margin-bottom: 10rem;
    }
    &__formLine {
        @include flex-row;
        width: 100%;
        justify-content: center;
    }
}