.header {
    width: 100%;
    
    &__container {
        @include flex-row;
        align-items: center;
        justify-content: space-between;
        padding: 17rem 9rem;
        @include respond(ipad){
            padding: 10rem 7rem 5rem 7rem;
        }
        @include respond(phone){
            padding: 10rem 4rem 5rem 4rem;
        }
    }
    &__list {
        list-style: none;
        @include flex-row;
        width: 50%;
        justify-content: space-between;
        @include respond(ipad){
            width: 70%;
        }
        @include respond(phone){
            width: 80%;
        }

        &--link{
            text-decoration: none;
            color: $color-text;
            font-size: 2.4rem;
            @include respond(phone){
                font-size: 2rem;
            }
            &:hover {
                color: $color-blue;
            }
        }
    }
    &__logo {
        width: 40.5rem; height: 40rem;
    }
    &__nav {
        @include flex-row;
        justify-content: flex-end;
        width: 100%;
        position: fixed;
        top: 0; left: 0;
        z-index: 20;
        padding: 4rem;
        background-color: $color-white;
        @include shadow;
        @include respond(smDesktop){
            padding: 2rem 4rem;
        }
    }
    &__post {
        position: relative;
        overflow: hidden;
        width: 100%; height: 65rem;
        @include flex-row;
        padding: 5.5rem;
        justify-content: flex-end;
        align-items: center;
        margin-top: 10.8rem;
        @include respond(ipad){
            margin-top: 6rem;
            height: 45rem;
        }
        @include respond(ipad){
            height: 35rem;
        }
    }
    &__postImg {
        width: 100%;
        position: absolute;
        top: 0; left: 0;
        opacity: .8;
        z-index: -1;
    }
    &__postNav {
        @include flex-column;
        justify-content: space-between;
        background-color: $color-green;
        
        &--button {
            background-color: $color-white;
            @include flex-row;
            justify-content: center;
            align-items: center;
            border: none;
            font-size: 3.6rem;
            font-family: "Ubuntu", sans-serif;
            border: none;
            padding: 1.5rem;
            @include shadow;
            width: 100%;
            @include respond(ipad){
                font-size: 2.5rem;
                padding: 1rem;
            }
            &:hover {color: $color-blue;}
        }
        &--buttonContainer {
            @include flex-row;
            width: 100%;
            padding: .75rem;
        }
        &--link {
            text-decoration: none;
            color: $color-text;
            margin: .75rem;
            width: 33%;
        }
        &--title {
            margin: 4.6rem;
            @include respond(ipad){
                font-size: 5rem;
                margin: 2rem 4rem;
            }
            @include respond(phone){
                font-size: 4rem;
                margin: 2rem;
            }
        }
        &--logo {
            width: 15rem; height: 15rem;
            @include respond(ipad){
                width: 10rem; height: 10rem;
            }
        }
        &--logoContainer {
            width: 20rem; height: 20rem;
            padding: 1.5rem;
            background-color: $color-white;
            position: absolute;
            top: -1rem; left: -1rem;
            border-radius: 50%;
            @include flex-row;
            justify-content: center;
            align-items: center;
            @include shadow;
            @include respond(ipad){
                width: 12rem; height: 12rem;
            }
        }
    }
    &__text {
        text-align: center;
        margin-left: 3rem;
        &--byline {
            font-size: 3rem;
            margin-top: 2rem;
            @include respond(smDesktop){
                font-size: 2.4rem;
            }
        }
    }
}