.post {
    @include flex-column;
    padding: 0rem 11.5rem 4rem 11.5rem;
    @include respond(phone){
        padding: 0rem 5rem 4rem 5rem;
    }

    &__blurb {
        font-size: 2.4rem;
        line-height: 3.3rem;
    }
    &__list {
        @include flex-row;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__listitem {
        margin: 0 4rem;
        font-size: 2.8rem;
        position: relative;
        list-style: none;

        &::before {
            content: "";
            position: absolute;
            top: .6rem; left: -3.5rem;
            width: 2.4rem; height: 2.4rem;
            border-radius: 50%;
            background-color: $color-purple;
        }
    }
    &__subheading {
        text-align: center;
        margin: 7.5rem 0 3rem 0;
        @include respond(ipad){
            font-size: 4rem;
        }
    }
    &__takeaways {
        padding: .1rem 11.5rem 6rem 11.5rem;
        background-color: $color-purple;
        @include respond(phone){
            padding: .1rem 5rem 6rem 5rem;
        }
    }
}